@import "/home/guizo/.cache/wal/colors-waybar.css";


* {
    font-family: SauceCodePro, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    background-color: rgba(0,0,0,1);
    margin: 0px;
    padding: 0px;
}


window#waybar.hidden {
    opacity: 0.2;
}
/*
window#waybar.empty {
background-color: transparent;
}
window#waybar.solo {
background-color: #FFFFFF;
}
*/
#waybar .playing {
    /*width: 180px;  Adjust the width as needed */
}

#waybar .playing .scrolling-title {
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    border-radius: 10px;
    background-color: #000000;
    border: none;
}
/*
======================================================================
___  ____   ____    _    _   _ ___ _____   _  _____ ___ ___  _   _ 
/ _ \|  _ \ / ___|  / \  | \ | |_ _|__  /  / \|_   _|_ _/ _ \| \ | |
| | | | |_) | |  _  / _ \ |  \| || |  / /  / _ \ | |  | | | | |  \| |
| |_| |  _ <| |_| |/ ___ \| |\  || | / /_ / ___ \| |  | | |_| | |\  |
\___/|_| \_\\____/_/   \_\_| \_|___/____/_/   \_\_| |___\___/|_| \_|

======================================================================

*/

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
/*
======================================================================
__  __  ___  ____  _   _ _     _____ ____  
|  \/  |/ _ \|  _ \| | | | |   | ____/ ___| 
| |\/| | | | | | | | | | | |   |  _| \___ \ 
| |  | | |_| | |_| | |_| | |___| |___ ___) |
|_|  |_|\___/|____/ \___/|_____|_____|____/ 

======================================================================
*/

.modules-right {
}

.modules-center {
}
.modules-left {
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    /*    margin-left: 5px;*/
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
}

/* 
======================================================================
__        _____  ____  _  ______  ____   _    ____ _____ ____  
\ \      / / _ \|  _ \| |/ / ___||  _ \ / \  / ___| ____/ ___| 
\ \ /\ / / | | | |_) | ' /\___ \| |_) / _ \| |   |  _| \___ \ 
\ V  V /| |_| |  _ <| . \ ___) |  __/ ___ \ |___| |___ ___) |
\_/\_/  \___/|_| \_\_|\_\____/|_| /_/   \_\____|_____|____/   

======================================================================
*/
button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

/*
======================================================================
____    _  _____ _____ _____ ______   __
| __ )  / \|_   _|_   _| ____|  _ \ \ / /
|  _ \ / _ \ | |   | | |  _| | |_) \ V / 
| |_) / ___ \| |   | | | |___|  _ < | |  
|____/_/   \_\_|   |_| |_____|_| \_\|_|  

======================================================================
*/
#battery {
    padding: 0px 7px;
    background-color: rgba(0,0,0,0);
    color: @main_fg ;
}

#battery.charging, #battery.plugged {
    color: @text;
    background-color: #26A65B;
}

@keyframes blink {
to {
    background-color: #ffffff;
    color: #000000;
}
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*
======================================================================
____  _____ ____  _____ ___  ____  __  __    _    _   _  ____ _____ 
|  _ \| ____|  _ \|  ___/ _ \|  _ \|  \/  |  / \  | \ | |/ ___| ____|
| |_) |  _| | |_) | |_ | | | | |_) | |\/| | / _ \ |  \| | |   |  _|  
|  __/| |___|  _ <|  _|| |_| |  _ <| |  | |/ ___ \| |\  | |___| |___ 
|_|   |_____|_| \_\_|   \___/|_| \_\_|  |_/_/   \_\_| \_|\____|_____|

======================================================================
*/
#power-profiles-daemon {
    padding: 0px 5px;
    background-color: transparent;
    color: #ffffff;
}
#power-profiles-daemon:hover {
    margin:0px;
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
    padding: 0px 5px;
}

#power-profiles-daemon.performance {
    margin: 0px;
    background-color: #ff0000;
    color: @toggle-text;
}

#power-profiles-daemon.performance:hover {
    margin: 0px;
    background-color: #fa5757;
    color: @toggle-text;
}

#power-profiles-daemon.balanced {
    margin:0px;
    background-color: transparent;
    color: @text;
}
#power-profiles-daemon.balanced:hover {
    margin:0px;
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
    color: @text;
}

#power-profiles-daemon.power-saver {
    margin:0px;
    background-color: #029e44;
    color: @toggle-text;
}
#power-profiles-daemon.power-saver:hover {
    margin:0px;
    background-color: #45f791;
    color: @toggle-text;
}

#idle_inhibitor {
    margin: 0px 10px;
    background-color: rgba(0,0,0,0);
    padding: 0px 5px;
    color: @font_color ;
}
#idle_inhibitor:hover {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
    margin: 0px 10px;
}

#idle_inhibitor.activated {
    margin: 0px 10px;
    background-color: red;
    padding: 0px 5px;
    color: @toggle-text;
}
/*
======================================================================
_   _    _    ____  ______        ___    ____  _____ 
| | | |  / \  |  _ \|  _ \ \      / / \  |  _ \| ____|
| |_| | / _ \ | |_) | | | \ \ /\ / / _ \ | |_) |  _|  
|  _  |/ ___ \|  _ <| |_| |\ V  V / ___ \|  _ <| |___ 
|_| |_/_/   \_\_| \_\____/  \_/\_/_/   \_\_| \_\_____|

======================================================================
*/


#cpu {
    padding: 0px 10px;
    margin: 0px 10px;
    background-color: rgba(0,0,0,0);
    color: @font_color;
}
#cpu:hover {
    padding: 0px 10px;
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
    margin: 0px 10px;
}

#memory {
    background-color: rgba(0,0,0,0);
    margin: 0px 10px;
    color: @font_color ;
}
/*#memory:hover {*/
/*    background-color: @wb_hvr_bg;*/
/*    box-shadow: inset 0 -3px @text;*/
/*}*/

#disk {
    padding: 0px 10px;
    margin: 0px 10px;
    background-color: rgba(0,0,0,0);
    color: @font_color ;
}

#disk:hover {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
    margin: 0px 10px;
    padding: 0px 10px;
}

#backlight {
    background-color: rgba(0,0,0,0);
    padding: 0px 10px;
    color: @main_fg ;
}
#backlight:hover {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

/*
======================================================================
_   _   _ ____ ___ ___  
/ \ | | | |  _ \_ _/ _ \ 
/ _ \| | | | | | | | | | |
/ ___ \ |_| | |_| | | |_| |
/_/   \_\___/|____/___\___/ 

======================================================================
*/
#pulseaudio {
    padding: 0px 10px;
    color: @main_fg ;
}

#pulseaudio.muted {
    padding: 0px 10px;
    background-color: @important;
    color: @main_fg;
}
#pulseaudio:hover {
    padding: 0px 10px;
    background-color: rgba(0,0,0,0);
    color: @main_fg;
}
#mpd {
    background-color: rgba(0,0,0,0);
    color: @main_fg ;
    padding: 0 10px;
}
#mpd {
    background-color: rgba(0,0,0,0);
    color: @main_fg ;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
/*
*
======================================================================
_   _ _____ _______        _____  ____  _  __
| \ | | ____|_   _\ \      / / _ \|  _ \| |/ /
|  \| |  _|   | |  \ \ /\ / / | | | |_) | ' / 
| |\  | |___  | |   \ V  V /| |_| |  _ <| . \ 
|_| \_|_____| |_|    \_/\_/  \___/|_| \_\_|\_\

======================================================================
*/
#network {
    background-color: rgba(0,0,0,0);
    padding: 0px 10px;
    color: @font_color ;
}

#network.disconnected {
    padding: 0px 10px;
    margin: 0px;
    color: @font_color ;
    background-color: #f53c3c;
}



#window,

#clock {
    padding: 0px 10px;
    background-color: rgba(0,0,0,0);
    color: @main_fg;
}



label:focus {
    background-color: #000000;
}


#custom-waybarMedia {
    margin:0px 9px;
    background-color: transparent;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: rgba(0,0,0,0);
    color: @font_color ;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: rgba(0,0,0,0);
    padding: 0px;
    margin: 0px;
}

/*
#tray > .active {
    -gtk-icon-effect: dim;
    background-color: #eb4d4b;
}
*/
#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #ffff00;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ff00ff;
}


#language {
    background-color: rgba(0,0,0,0);
    color: @font_color ;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background-color: rgba(0,0,0,0);
    color: @font_color ;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background-color: rgba(0,0,0,0);
    color: @font_color ;
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    background-color: rgba(0,0,0,0);
    color: @font_color ;
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}


#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
} 
#wireplumber {
    background-color: transparent;
    color: @font_color ;
}

#wireplumber.muted {
    background-color: #f53c3c;
}
#custom-wallpaper {
    padding: 0px 10px;
    color: @font_color;
}
#custom-wallpaper:hover {
    padding: 0px 10px;
    color: @font_color;
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#custom-wallpaperNext {
    padding: 3px;
    color: @font_color;
}
#custom-power {
    padding:0px 8px;
    color: @font_color;
}
#custom-power:hover {
    padding:0px 8px;
    color: @font_color;
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#custom-wallpaperPrev {
    padding: 3px;
    color: @font_color;
}
#custom-wallpaperPrev:hover {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
    padding: 3px;
    color: @font_color;
}
#custom-wallpaperNext:hover {
    padding: 3px;
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
    color: @font_color;
}

#custom-chatgpt {
    padding: 3px 10px 3px 13px;
    font-size:18px;
    color: @font_color;
    border-radius: 10px 0px 0px 10px;
    background-color: @color1;
}
#custom-chatgpt:hover {
    box-shadow: inset 0 -3px #ffffff;
    color: @font_color;
    background-color: @color4;
}
#custom-empty {
    background-color: transparent;
    padding: 0px 10px;
}
#custom-localhost {
    border-radius: 0px;
    padding: 3px 10px 3px 13px;
    border-radius: 0px 10px 10px 0px;
    font-size:18px;
    color: @font_color;
    background-color: @color1;
}
#custom-localhost:hover {
    background-color: @color4;
}
#custom-separatorLeft {
    margin: 0px 0px 0px 12px;
    border-radius: 25px 0px 0px 25px;
    font-size:18px;
    background-color: #ff0000;
    background-color: @color1;
}

#custom-separatorRight {
    margin: 0px;
    background-color: @color1;
    border-radius: 0px 25px 25px 0px;
    font-size:18px;
}
#custom-brave {
    padding: 3px 10px 3px 13px;
    border-radius: 0px;
    margin: 0px;
    font-size:18px;
    color: @font_color;
    background-color: @color1;
}
#custom-brave:hover {
    background-color: @color4;
    box-shadow: inset 0 -3px #ffffff;
}
#custom-whatsapp {
    padding: 3px 10px 3px 13px;
    margin: 0px;
    font-size:18px;
    color: @font_color;
    background-color: @color1;
}
#custom-whatsapp:hover {
    background-color: @color4;
}
#custom-help{
    margin: 0px 9px;
    padding: 0px 4px 2px 4px;
    font-size:18px;
    color: @font_color;
    background-color: #000000;
}
#custom-help:hover{
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
    margin: 0px 9px;
    font-size:18px;
    color: @font_color;
    box-shadow: none;
    text-shadow: none;
}
#custom-screenrecorder.recording {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    margin: 0px 9px;
    padding: 0px 5px;
    font-size:18px;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-screenrecorder.recording:hover {
    background-color: #64727D;
    color: #ffffff;
    animation-name: blink;
    margin: 0px 9px;
    padding: 0px 5px;
    font-size:18px;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    box-shadow: inset 0 -3px #ffffff;
    animation-direction: alternate;
}
#custom-screenrecorder.stopped:hover{
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
    margin: 0px 9px;
    padding: 0px 5px;
    font-size:18px;
    color: @font_color;
    box-shadow: none;
    text-shadow: none;
}
#custom-screenrecorder.stopped {
    margin: 0px 9px;
    padding: 0px 5px;
    font-size:18px;
    animation-name:none;
    color: #ffffff;
    background-color: transparent;
} 
#custom-hider {
    margin: 0px;
    padding: 0px 4px 2px 4px;
    padding: 0px 9px;
    font-size:18px;
    color:white;
    background-color: #000000;

}
#custom-hider:hover{
    background-color: #64727D;
    /*box-shadow: inset 0 -3px #ffffff;*/
    font-size:18px;
	padding: 0px 9px;
    color: @font_color;
    box-shadow: none;
    text-shadow: none;
}
#options {
    margin: 0px;
    padding: 0px;
    background-color: #272c30;
}

#cava {
    margin: 9px;
    padding: 8px;
    background-color: #272c30;
}
#custom-fileManager{
    background-color: transparent;
    padding: 0px 8px;
}

#custom-fileManager:hover{
    padding: 0px 8px;
    background-color: #64727D;
}
menu {
    padding: 8px;
	border-radius: 8px;
	background: #161320;
	color: #B5E8E0;
}
menuitem {
    padding: 8px;
    font-size:17px;
	border-radius: 8px;
}
tooltip {
  background: rgba(43, 48, 59, 0.5);
	background: #161320;
	color: #B5E8E0;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    padding: 8px;
    font-size:17px;
  color: white;
}
